body, h1{
  display: block;
  margin: 8px;
  background-color: navy;
  font-size: 150%; color: white;
  font-family: 'Oswald', sans-serif;
  div.container {
    width: 100%;
    border: 1px solid gray;
  }

  header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
  }

  nav, .main-nav, .tab, a {
    background-color: transparent;
    top: 2.5em;
    float: left;
    max-width: 160px;
    margin: auto;
    padding: 1em;
    display: inline-block;
    font-family: serif;;
    font-size: 1em; color: gold;
  }
  article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
  }

  h2, h3 {
    font-family: sans-serif;
    text-decoration: underline;
  }

  ul li{
    list-style: none;
  }

  p {
    text-align: left;
    font-weight: normal; color: white;
    font-family: ;
    font-size: 100%;
    margin: auto; padding: auto;
  }

  .button{
    display: block;
    background-color: gold;
    font-size: 200%; color: black;
  }
