body{
  display: block;
  margin: 8px;
  background-color:black;
  font-size: 150%; color: white;
  font-family: 'Righteous', sans-serif;
  width: 100%;
  border: 1px solid gray;
  }

div.container{
  height: auto;
  width: auto;
  margin: auto;
  padding: inherit;
}

table{
  background-color: black;
}

.about, p{
  float: left;
  text-align: center;
  font-size: 22px;

}

h1 {
  font-family: 'Covered By Your Grace', 'Righteous';
    font-size: 400%; color: black;
    text-shadow: 2px 2px blue;
    width: auto;
}


  header, footer {

    color: black;
    background-color: rgba(42, 43, 44, 1);;
    text-align: center;
  }

  .main-nav ul a, .tab-content, {
    font-size: 1em; color: gold;
    text-align: center;
    display: inline-block;
    font-family: serif;

  }
  article {
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
  }

  h2, h3 {
    font-family: sans-serif;
    text-decoration: underline;
  }


  ul li{
    list-style: none;
  }

  p {
    /*text-align: left;*/
    font-weight: normal; color: white;
    font-family: ;
    font-size: 100%;
    margin: auto; padding: auto;
  }

  .button{
    display: block;
    background-color: gold;
    font-size: 200%; color: black;
  }
