body {
  display: block;
  margin: 8px;
  background-color: black;
  font-size: 200%; color: white;
}
nav, .tab, a {
    background-color: transparent;
    top: 2.5em;
    display: inline-block;
    font-size: 1.5em; color: blue;
}

p {
  text-align: left;
  font-weight: normal; color: white;
  font-family: sans-serif;
  font-size: 120%;
  margin: auto; padding: auto;
}
.button{
  display: block;
  background-color: blue;
  font-size: 200%; color: silver;
}
